<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
      <a href="/" class="navbar-brand"><i class="fas fa-lock"></i> SecureAuth</a>
      <ul class="nav navbar-nav flex-row float-right">
        {% if session['username'] %}
        <li class="nav-item">
          <a class="nav-link" href="/users/{{ session['username'] }}/feedback/add"><i class="fas fa-comments"></i> Add Feedback </a>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
        <li>
            <a class="nav-link" href="/users/{{ session['username'] }}"><i class="fas fa-user"></i> {{ session['username'] }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">
      <i class="fas fa-info-circle"></i> {{ msg }}
    </div>
    {% endfor %}

    <h1>{% block title %}{% endblock %}</h1>
    

    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>

</body>

</html>
